@model AI_WoundAnalysisSystem.DTO.Users

<div class="row">
    <div class="col-md-3">
        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile">
                @*<div>*@
                    @*<img id="patientImage" class="profile-user-img img-responsive img-circle" src="@Model.DocumentPath" alt="User profile picture">*@
                    @*<input type="button" id="change_patient_photo" value="Change Photo" />*@



                    <div id="employ_image">
                        <input type="button" class="change_photo_btn" value="Change Photo" style="display:none;position:absolute;cursor:pointer" />
                        <div class="change_image_holder" style="display:none;position:absolute;width:170px">
                            <input type="file" name="PHOTO" class="selected_image" style="font-size:12px;margin-top:5px;margin-bottom:5px;background-color:white;width:100%" /><br />
                            <input type="button" class="send_new_image" value="Send" style="cursor:pointer" />
                            <input type="button" class="cancel_new_image" value="Cancel" style="cursor:pointer" />
                        </div>
                        <img id="patientImage" class="profile-user-img img-responsive img-circle" src="~/Images/PatientImage/@Model.DocumentPath" alt="User profile picture">
                    </div>



                @*</div>*@
                <h3 class="profile-username text-center">@Model.LastName</h3>
                @*<p class="text-muted text-center">Software Engineer</p>*@
                @*<ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Followers</b> <a class="pull-right">1,322</a>
                    </li>
                    <li class="list-group-item">
                        <b>Following</b> <a class="pull-right">543</a>
                    </li>
                    <li class="list-group-item">
                        <b>Friends</b> <a class="pull-right">13,287</a>
                    </li>
                </ul>*@
                @*<a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>*@
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!-- About Me Box -->
        @*<div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">About Me</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <strong><i class="fa fa-book margin-r-5"></i> Education</strong>
                <p class="text-muted">
                    B.S. in Computer Science from the University of Tennessee at Knoxville
                </p>
                <hr>
                <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
                <p class="text-muted">Malibu, California</p>
                <hr>
                <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>
                <p>
                    <span class="label label-danger">UI Design</span>
                    <span class="label label-success">Coding</span>
                    <span class="label label-info">Javascript</span>
                    <span class="label label-warning">PHP</span>
                    <span class="label label-primary">Node.js</span>
                </p>
                <hr>
                <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
            </div>
            <!-- /.box-body -->
        </div>*@
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @*<li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
                <li><a href="#timeline" data-toggle="tab">Timeline</a></li>*@
                <li><a href="#settings" data-toggle="tab">Settings</a></li>
            </ul>
            <div class="tab-content"> 
                <!-- /.tab-pane -->
                <div class="active tab-pane" id="settings">
                    <form id="patient_details_form" class="form-horizontal" action="#" >

                        <div class="form-group"> 
                            <div class="col-sm-10">
                                <input style="display:none" value="@Model.UserID" class="form-control" id="UserID" placeholder="UserID">
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-10">
                                <input value="@Model.Username" class="form-control" id="Username" placeholder="Username">
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">First Name</label>
                            <div class="col-sm-10">
                                <input   value="@Model.FirstName" class="form-control" id="FirstName" placeholder="FirstName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input value="@Model.Password" type="password" class="form-control" id="Password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Middle Name</label>
                            <div class="col-sm-10">
                                <input   value="@Model.MiddleName" class="form-control" id="MiddleName" placeholder="MiddleName">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Last Name</label>
                            <div class="col-sm-10">
                                <input   value="@Model.LastName" class="form-control" id="LastName" placeholder="LastName">
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Blood Group</label>
                            <div class="col-sm-10">
                                <input value="@Model.BloodGroup" class="form-control" id="BloodGroup" placeholder="BloodGroup">
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Telephone</label>
                            <div class="col-sm-10">
                                <input   value="@Model.Telephone" class="form-control" id="Telephone" placeholder="Telephone">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Country</label>
                            <div class="col-sm-10">
                                <input   value="@Model.Country" class="form-control" id="Country" placeholder="Country">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">PostCode</label>
                            <div class="col-sm-10">
                                <input   value="@Model.PostCode" class="form-control" id="PostCode" placeholder="PostCode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Mobile</label>
                            <div class="col-sm-10">
                                <input   value="@Model.Mobile" class="form-control" id="Mobile" placeholder="Mobile">
                            </div>
                        </div>
                        @if (Model.DOB != null)
                        {
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">DOB</label>
                                <div class="col-sm-10">
                                    <input type="date" value="@Model.DOB.Value.ToString("yyyy-MM-dd")" class="form-control" id="DOB" placeholder="DOB">
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">DOB</label>
                                <div class="col-sm-10">
                                    <input type="date"  class="form-control" id="DOB" placeholder="DOB">
                                </div>
                            </div>
                        }
                        @*<div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input   disabled class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>*@
                        
                        
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-danger sub">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row --> 
<script type="text/javascript"> 
     
    var Patient = new function () {
        var that = this,  Container = $('#patient_details_form');
        this.AjaxCallServer = function (type, url, data, success, fail) {
            $.ajax({
                type: type,
                url: url,
                data: data ? JSON.stringify({ details: data }) : null,
                contentType: 'application/json;charset:utf-8',
                dataType: 'json',
                processData: true,
                success: success,
                error: function () {
                    fail && fail();
                }
            });
        };
        this.SubmitEvent = new function () { 
            Container.submit(function () { 
                setTimeout(that.ChangePatientDetails(), 0);
                return false;
            }); 
        };
        this.ChangePatientDetails = function () {
            var model = {};  
            model.UserID = Container.find('#UserID').val();
            //model.Username = Container.find('#Username').val();
            //model.Username = Container.find('#Username').val();
            model.Password = Container.find('#Password').val();
            model.FirstName = Container.find('#FirstName').val();
            model.MiddleName = Container.find('#MiddleName').val();
            model.LastName = Container.find('#LastName').val();
            model.BloodGroup = Container.find('#BloodGroup').val();
            model.Telephone = Container.find('#Telephone').val();
            model.Country = Container.find('#Country').val();
            model.PostCode = Container.find('#PostCode').val();
            model.Mobile = Container.find('#Mobile').val();
            model.DOB = Container.find('#DOB').val();  
            that.AjaxCallServer('POST', '/Patient/Patient/SavePatientDetails', model, function (responsne) {
                alert("Your information updated successfully");
            }, function (responsne) {
                //alert("Something went wrong! Please refresh the page and try again.");
                }); 
            
        };

        this.ChangeEmployeePhoto = new function () {

            $("#employ_image").hover(function () {
                if (!$(".change_image_holder").hasClass("display")) {
                    $(".change_photo_btn").toggle();
                }
            });
            $(".change_photo_btn").click(function () { 
                $(this).hide();
                $(".change_image_holder").show();
                $(".change_image_holder").addClass('display');
            });
            $(".cancel_new_image").click(function () {
                $(".change_image_holder").removeClass('display');
                $(".change_image_holder").hide();
                $(".change_photo_btn").show();
            });
            $(".send_new_image").click(function () {
                if ($('.selected_image').val() == '') {
                    alert("No photo selected");
                }
                else { 
                    var model = new FormData();
                    var change_photo = $('.selected_image')[0];
                    change_photo = change_photo.files.length > 0 ? change_photo.files[0] : null;
                    model.append('PHOTO', change_photo);

                    var xhr = new XMLHttpRequest();
                    xhr.addEventListener("load", function (e) {
                        var result = $.parseJSON(xhr.response);
                        if (!result.IsError) {
                            $("#load_image").hide();
                            $("#employ_image img").attr('src', '/EmployeeImages/' + result.message + '');
                            $('.selected_image').val('');
                            $(".change_image_holder").removeClass('display');
                            $(".change_image_holder").hide();
                            $("#load_image").hide();
                            alert("Image successfully changed");

                        }
                        else {
                            window.location.href = "/Home/login";
                        }
                    });
                    xhr.addEventListener("error", function (e) {
                        Alert("Ups! May be connection problem");
                    });
                    xhr.open("POST", "/Patient/Patient/SavePatientPhoto");
                    xhr.send(model);

                }
            });

        };
    };
</script>